<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>app-store</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution: ELLIOT XAVIER BRUCE</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>app.rork.tellsla</key>
		<string>Tellsla AppStore Distribution</string>
		<key>app.rork.tellsla.tellslawidget</key>
		<string>Tellsla Widget AppStore Distribution</string>
		<key>app.rork.tellsla.tellslawatch</key>
		<string>Tellsla Watch AppStore Distribution</string>
	</dict>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>894G4S5K4R</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
